{% extends 'Client.html.twig' %}
{% block pannier %}
    <a href="{{ path('panier_achat') }}" class="btn btn-default"><i class="lnr lnr-cart"></i> ({{ achat.quantite }})</a>
{% endblock %}
{% block body %}
    <div class="container">
        <input class="form-control" type="range" id="points" name="points" min="0" max="10">

        <div class="row top-margin">
            <form action="{{ path('index_achat') }}" method="post">
                <div class="col-xs-offset-2 col-xs-8">
                    <input type="text" name="myInput" id="myInput" onkeyup="myFunction()" placeholder="Search By Product name" title="Type in a name" class="form-control">

                </div>
                <div class="col-xs-1">
                    <button type="submit" class="btn btn-danger"><i class="fa fa-search" style="color: white;"></i></button>

                </div>
            </form>



        </div>
        <div class="row">
            {%  for p in products %}
                <div class="col-xs-6 col-md-4 top-margin">
                    <div class="card" >
                        <div class="product-top">
                            <img class="card-img-top" src="{{ asset('uploads/post/'~p.photo) }}" alt="Card image cap" style="width: 15rem; height: 15rem;">
                            <div class="overlay-achat">
                                <a href="{{ path('add_achat',{'id':p.id}) }}" class="btn btn-secondary" ><i class="fa fa-shopping-cart" style="color: #9e9d24; width: 0.8re;"></i></a>
                                <a href="{{ path('index_achat_show',{'id':p.id}) }}" class="btn btn-secondary"><i class="fa fa-eye" style="color: #9e9d24; width: 0.8rem;"></i></a>
                            </div>
                        </div>

                        <div class="card-body">

                            <p class="card-text" ><h3 style="color: white;">{{ p.productName }}</h3>
                            <h4 class="mx-auto" style="color: #9e9d24;">{{ p.priceTTC }} DT</h4>
                            </p>


                        </div>
                    </div>


                </div>
                {% else %}
                <h4 style="color: white;">Pas de produit</h4>
            {% endfor %}
        </div>

    </div>
    <script>
        function myFunction() {
            console.log("trr");
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("dataTables-example");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

{% endblock %}
